.header {
  border-bottom: solid 1px #ececec;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  display: inline-block;
  font-family: Raleway;
  font-weight: var(--font-weight-bold);
  font-size: 26px;
  line-height: 1.19;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 0;
  color: var(--first-backlight-color);
}

.logo-dark {
  font-family: Raleway;
  font-weight: var(--font-weight-bold);
  font-size: 26px;
  line-height: 1.19;
  color: black;
}

.header-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: var(--font-weight-medium);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--text-color);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--timing-hover-focus);
          transition-duration: var(--timing-hover-focus);
  -webkit-transition-timing-function: var(--function-hover-focus);
          transition-timing-function: var(--function-hover-focus);
}

.header-contacts:hover {
  color: var(--first-backlight-color);
}

.header-contacts:focus {
  color: var(--first-backlight-color);
}

.header-icon {
  fill: currentColor;
  margin-right: 10px;
}

.header-contacts-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.header-contacts-list .contacts-item + .contacts-item {
  margin-left: 50px;
}

.nav {
  font-weight: var(--font-weight-medium);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--heders-dark-color);
  margin-left: 93px;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-list .contacts-item + .contacts-item {
  margin-left: 50px;
}

.nav-link {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--timing-hover-focus);
          transition-duration: var(--timing-hover-focus);
  -webkit-transition-timing-function: var(--function-hover-focus);
          transition-timing-function: var(--function-hover-focus);
}

.nav-link:hover {
  color: var(--first-backlight-color);
}

.nav-link:focus {
  color: var(--first-backlight-color);
}

.nav-link {
  font-weight: var(--font-weight-medium);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--headers-dark-color);
}

.position-item {
  position: relative;
}

.nav-active::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: -1px;
}

.nav-active {
  color: var(--first-backlight-color);
}

.hero {
  background-color: var(--background-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.hero-bg {
  max-width: 1600px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../image/herobg.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/herobg.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}

.hero-header {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  color: var(--text-white-color);
}

.hero-button {
  font-weight: var(--font-weight-bold);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--text-white-color);
  background: var(--first-backlight-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  -webkit-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: var(--timing-hover-focus);
          transition-duration: var(--timing-hover-focus);
  -webkit-transition-timing-function: var(--function-hover-focus);
          transition-timing-function: var(--function-hover-focus);
}

.hero-button:focus,
.hero-button:hover {
  background: var(--btn-fokus);
}

.conditions {
  padding-bottom: 0px;
}

.conditions-list .conditions-item + .conditions-item {
  margin-left: 30px;
}

.conditions-icon-conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 120px;
  width: 270px;
  margin-bottom: 30px;
  background: var(--background-filters-button);
  border-radius: 4px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.conditions-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.conditions-list + .conditions-item + .conditions-item {
  margin-left: 30px;
}

.conditions-subtitle {
  font-weight: var(--font-weight-bold);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--headers-dark-color);
}

.conditions-text {
  line-height: 1.7;
  width: 270px;
  margin-top: 10px;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.header-sections {
  font-weight: var(--font-weight-bold);
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.about-imj {
  position: relative;
}

.about-text {
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: var(--font-weight-bold);
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  color: #ffffff;
}

.about-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}

.about-list .team {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  background: var(--background-filters-button);
  color: var(--headers-dark-color);
}

.about-list .about-imj + .about-imj {
  margin-left: 30px;
}

.team {
  background-color: var(--background-filters-button);
}

.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}

.team-list .team-card + .team-card {
  margin-left: 30px;
}

.team-name-border {
  border-top-style: none;
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-name {
  font-weight: var(--font-weight-medium);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--headers-dark-color);
}

.team-photo {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-card {
  background: var(--second-backlight-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-profession {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 10px;
  color: var(--text-color);
}

.team-social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 16px;
}

.team-social-link {
  width: 44px;
  height: 44px;
  background-color: var(--second-backlight-color);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #afb1b8;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: var(--timing-hover-focus);
          transition-duration: var(--timing-hover-focus);
  -webkit-transition-timing-function: var(--function-hover-focus);
          transition-timing-function: var(--function-hover-focus);
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--first-backlight-color);
  color: var(--second-backlight-color);
}

.team-social-icon {
  fill: currentColor;
}

.team-social-item + .team-social-item {
  margin-left: 10px;
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}

.clients-item + .clients-item {
  margin-left: 30px;
}

.clients-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #afb1b8;
  -webkit-transition-property: color, border;
  transition-property: color, border;
  -webkit-transition-duration: var(--timing-hover-focus);
          transition-duration: var(--timing-hover-focus);
  -webkit-transition-timing-function: var(--function-hover-focus);
          transition-timing-function: var(--function-hover-focus);
}

.clients-link:hover,
.clients-link:focus {
  border: 1px solid var(--first-backlight-color);
  cursor: pointer;
  color: var(--first-backlight-color);
}

.clients-icon {
  fill: currentColor;
}

.sections-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.footer-logo {
  display: inline-block;
  font-family: Raleway;
  font-weight: var(--font-weight-bold);
  font-size: 26px;
  line-height: 1.19;
  padding-top: 0px;
  margin-bottom: 20px;
  color: var(--first-backlight-color);
}

.logo-White {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: var(--text-white-color);
}

.address {
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--text-white-color);
}

.adress-item {
  margin-top: 9px;
}

.adress-list :first-child {
  margin-top: 0px;
}

.footer {
  background-color: var(--background-color);
  line-height: 1.19;
  padding-top: 60px;
  padding-bottom: 60px;
  color: var(--text-white-color);
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.footer-contacts {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.footer-link {
  display: inline-block;
  color: #ffffff99;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--timing-hover-focus);
          transition-duration: var(--timing-hover-focus);
  -webkit-transition-timing-function: var(--function-hover-focus);
          transition-timing-function: var(--function-hover-focus);
}

.footer-link:hover,
.footer-link:focus {
  color: var(--second-backlight-color);
}

.footer-address {
  display: inline-block;
  color: var(--text-white-color);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--timing-hover-focus);
          transition-duration: var(--timing-hover-focus);
  -webkit-transition-timing-function: var(--function-hover-focus);
          transition-timing-function: var(--function-hover-focus);
}

.footer-address:hover,
.footer-address:focus {
  color: var(--first-backlight-color);
}

.footer-social {
  margin-left: 70px;
}

.footer-social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-social-icon {
  fill: var(--second-backlight-color);
}

.footer-social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: var(--timing-hover-focus);
          transition-duration: var(--timing-hover-focus);
  -webkit-transition-timing-function: var(--function-hover-focus);
          transition-timing-function: var(--function-hover-focus);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--first-backlight-color);
}

.footer-social-item + .footer-social-item {
  margin-left: 10px;
}

.footer-header-social {
  font-weight: var(--font-weight-bold);
  line-height: 16px;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--text-white-color);
}

.footer-form-wrap {
  margin-left: 93px;
}

.footer-form-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  line-height: 20px;
}

.footer-form-imail {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2f303a;
  color: #ffffff;
}

.futer-form-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  height: 50px;
  font-weight: var(--font-weight-bold);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--text-white-color);
  background: var(--first-backlight-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  cursor: pointer;
  margin-left: 12px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: var(--timing-hover-focus);
          transition-duration: var(--timing-hover-focus);
  -webkit-transition-timing-function: var(--function-hover-focus);
          transition-timing-function: var(--function-hover-focus);
}

.futer-form-button:focus,
.futer-form-button:hover {
  background: var(--btn-fokus);
}

.futer-form-icon {
  right: 28px;
  top: 13px;
  margin-left: 12px;
}

.filters {
  font-weight: var(--font-weight-medium);
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}

.filters-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.filters-list .filters-item + .filters-item {
  margin-left: 8px;
}

.filters-button {
  font-weight: var(--font-weight-medium);
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  cursor: pointer;
  background: var(--background-filters-button);
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  -webkit-transition-property: color, background, -webkit-box-shadow;
  transition-property: color, background, -webkit-box-shadow;
  transition-property: color, background, box-shadow;
  transition-property: color, background, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: var(--timing-hover-focus);
          transition-duration: var(--timing-hover-focus);
  -webkit-transition-timing-function: var(--function-hover-focus);
          transition-timing-function: var(--function-hover-focus);
}

.filters-button:focus,
.filters-button:hover {
  background: var(--first-backlight-color);
  color: var(--second-backlight-color);
  -webkit-box-shadow: 0px 2px 2px 0px #0000001f;
          box-shadow: 0px 2px 2px 0px #0000001f;
  -webkit-box-shadow: 0px 1px 2px 0px #00000014;
          box-shadow: 0px 1px 2px 0px #00000014;
  -webkit-box-shadow: 0px 3px 1px 0px #0000001a;
          box-shadow: 0px 3px 1px 0px #0000001a;
}

.project-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 50px;
}

.project-item {
  margin-top: 30px;
  width: 370px;
  margin-right: 30px;
}

.project-wrap {
  position: relative;
  overflow: hidden;
}

.project-text-imj {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--text-white-color);
  padding: 63px 24px 24px;
  height: 100%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform var(--timing-hover-focus);
  transition: -webkit-transform var(--timing-hover-focus);
  transition: transform var(--timing-hover-focus);
  transition: transform var(--timing-hover-focus), -webkit-transform var(--timing-hover-focus);
  overflow: auto;
}

.project-link:focus .project-text-imj {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.project-link:hover .project-text-imj {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.project-link {
  display: block;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: var(--timing-hover-focus);
          transition-duration: var(--timing-hover-focus);
  -webkit-transition-timing-function: var(--function-hover-focus);
          transition-timing-function: var(--function-hover-focus);
}

.project-link:hover,
.project-link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-item:nth-child(3n) {
  margin-right: 0px;
}

.project-item:nth-child(-n + 3) {
  margin-top: 0px;
}

.project-container {
  padding-top: 20px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
  background: var(--second-backlight-color);
  border: 1px solid #eeeeee;
  border-top-style: none;
}

.project-titl {
  font-weight: var(--font-weight-bold);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: var(--headers-dark-color);
}

.project-text {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 500ms, visibility 500ms;
  transition: opacity 500ms, visibility 500ms;
}

.backdrop.is-hidden .modal {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  -webkit-transform: rotate(150deg);
          transform: rotate(150deg);
}

.modal {
  width: 528px;
  min-height: 581px;
  background-color: var(--second-backlight-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 600ms;
  transition: -webkit-transform 600ms;
  transition: transform 600ms;
  transition: transform 600ms, -webkit-transform 600ms;
  padding: 40px;
}

.modal-title {
  font-weight: var(--font-weight-bold);
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--headers-dark-color);
  text-align: center;
  margin-bottom: 12px;
}

.modal-close {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--second-backlight-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--first-backlight-color);
}

.modal-close-icon {
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: var(--timing-hover-focus);
          transition-duration: var(--timing-hover-focus);
  -webkit-transition-timing-function: var(--function-hover-focus);
          transition-timing-function: var(--function-hover-focus);
}

.modal-close:focus .modal-close-icon {
  fill: var(--first-backlight-color);
}

.modal-close:hover .modal-close-icon {
  fill: var(--first-backlight-color);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
/*# sourceMappingURL=main.css.map */