:root {
  --first-backlight-color: #2196f3;
  --second-backlight-color: #ffffff;
  --headers-dark-color: #212121;
  --text-white-color: #ffffff;
  --text-color: #757575;
  --btn-fokus: #188ce8;
  --background-color: #2f303a;
  --background-filters-button: #f5f4fa;
  --font-weight-bold: 700;
  --font-weight-medium: 500;
  --timing-hover-focus: 250ms;
  --function-hover-focus: cubic-bezier(0.4, 0, 0.2, 1);
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  color: var(--heders-dark-color);
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.sections {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* portfolio */
