.conditions {
  padding-bottom: 0px;
}
.conditions-list .conditions-item + .conditions-item {
  margin-left: 30px;
}
.conditions-icon-conteiner {
  display: flex;
  height: 120px;
  width: 270px;
  margin-bottom: 30px;
  background: var(--background-filters-button);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.conditions-list {
  display: flex;
}
.conditions-list + .conditions-item + .conditions-item {
  margin-left: 30px;
}
.conditions-subtitle {
  font-weight: var(--font-weight-bold);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--headers-dark-color);
}
.conditions-text {
  line-height: 1.7;
  width: 270px;
  margin-top: 10px;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
