.team {
  background-color: var(--background-filters-button);
}
.team-list {
  display: flex;
  margin-top: 50px;
}
.team-list .team-card + .team-card {
  margin-left: 30px;
}
.team-name-border {
  border-top-style: none;
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-name {
  font-weight: var(--font-weight-medium);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--headers-dark-color);
}
.team-photo {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team-card {
  background: var(--second-backlight-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-profession {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 10px;
  color: var(--text-color);
}
.team-social-list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
.team-social-link {
  width: 44px;
  height: 44px;
  background-color: var(--second-backlight-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #afb1b8;
  transition-property: color, background-color;
  transition-duration: var(--timing-hover-focus);
  transition-timing-function: var(--function-hover-focus);
  &:hover,
  &:focus {
    background-color: var(--first-backlight-color);
    color: var(--second-backlight-color);
  }
}
// .team-social-link:hover,
// .team-social-link:focus {
//   background-color: var(--first-backlight-color);
//   color: var(--second-backlight-color);
// }
.team-social-icon {
  fill: currentColor;
}
.team-social-item + .team-social-item {
  margin-left: 10px;
}
