.footer {
  background-color: var(--background-color);
}
.footer-logo {
  display: inline-block;
  font-family: Raleway;
  font-weight: var(--font-weight-bold);
  font-size: 26px;
  line-height: 1.19;
  padding-top: 0px;
  margin-bottom: 20px;
  color: var(--first-backlight-color);
}
.footer-logo__White {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: var(--text-white-color);
}
.address {
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--text-white-color);
}
.adress__item {
  margin-top: 9px;
}
.adress__list :first-child {
  margin-top: 0px;
}

.footer-container {
  display: flex;
  align-items: baseline;
  flex-grow: 1;
  line-height: 1.19;
  padding-top: 60px;
  padding-bottom: 60px;
  color: var(--text-white-color);
}
.footer-contacts {
  flex-grow: 1;
}

.address__link {
  display: inline-block;
  color: #ffffff99;
  transition-property: color;
  transition-duration: var(--timing-hover-focus);
  transition-timing-function: var(--function-hover-focus);
  &:hover,
  &:focus {
    color: var(--second-backlight-color);
  }
}

.address__text {
  display: inline-block;
  color: var(--text-white-color);
  transition-property: color;
  transition-duration: var(--timing-hover-focus);
  transition-timing-function: var(--function-hover-focus);
  &:hover,
  &:focus {
    color: var(--first-backlight-color);
  }
}
.footer-social {
  color: var(--text-white-color);
}
.footer-social-wrap {
  margin-left: 70px;
}
.footer-social__list {
  display: flex;
}
.footer-social__icon {
  fill: var(--second-backlight-color);
}
.footer-social__link {
  display: flex;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-duration: var(--timing-hover-focus);
  transition-timing-function: var(--function-hover-focus);
  &:hover,
  &:focus {
    background-color: var(--first-backlight-color);
  }
}

.footer-social__item + .footer-social__item {
  margin-left: 10px;
}
.footer-social__header {
  font-weight: var(--font-weight-bold);
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}
